/* line 3, ../sass/map.scss */
div.map {
  position: absolute;
  top: 20%;
  bottom: 67%;
  left: 75%;
  right: 0%;
  background-color: #5f259f;
}
/* line 11, ../sass/map.scss */
div.map img {
  height: 100%;
  width: 100%;
}
