@import "compass";

html, body {
	height: 100%;
	margin: 0;
	overflow-x : hidden;
}

.panel{
	position: absolute;
	top :0; left : 0; bottom: 0; right: 0;
	@include transition-duration(.3s);
}

.left{
	@include transform(translate3D(-100% , 0, 0));
}

.center{
	@include transform(translate3D(0% , 0, 0));
}

.right{
	@include transform(translate3D(+100% , 0, 0));
}

.cache{
	@include transform(translate3D(+100% , 0, 0));
}

.affiche{
	@include transform(translate3D(0% , 0, 0));
}