@import "compass";

.verticalMenu{
	background-color: #5f259f;
	position: absolute;
	top:0;
	bottom:0;
	left:0%;
	right:180%;
	z-index: 10;
	@include transition-duration(.4s);
}

div.smallLogo {
	position: absolute;
	top:2%;
	left:2%;
	right:70%;
	bottom:87%;
	text-align: center;
}

div.connected{
	position: absolute;
	top:20%;
	font-size: 3vw;
	font-family: sans-serif;
	color : white;
	margin-left:1px;
}