@import "compass";

div.planning{
	position: absolute;
	top:20%;
	bottom:67%;
	left:50%;
	right:0%;
	background-color: #0051ff;
	display : flex;
	align-items : center;
	justify-content : center;

	div{
		display : inline-block;
		text-align: center;
		color : #fff;
		font-family: sans-serif;
	}
}