<ion-tabs class="tabs-icon-top tabs-background-balanced-900">
    <ion-tab title="Dashboard" icon="ion-stats-bars" href="#/tab/dashboard">
      <ion-nav-view name="dashboard-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Réservation" icon="ion-clock" href="#/tab/reservation">
      <ion-nav-view name="reservation-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="A propos" icon="ion-information" ui-sref="tabs.about">
      <ion-nav-view name="about-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>
