/* line 3, ../sass/signInPage.scss */
html, body {
  height: 100%;
  margin: 0;
}

/* line 8, ../sass/signInPage.scss */
#logo {
  height: 100%;
}

/* line 12, ../sass/signInPage.scss */
.purple-bg {
  background-color: #5f259f;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

/* line 24, ../sass/signInPage.scss */
div.logo {
  position: absolute;
  top: 7%;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 67%;
           /*
display: flex;
align-items: center;
justify-content:center;*/
}

/* line 37, ../sass/signInPage.scss */
div.form {
  position: absolute;
  top: 49%;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 45, ../sass/signInPage.scss */
div.inputLike {
  width: 100%;
  margin-bottom: 2%;
  background-color: #8868B6;
}
/* line 50, ../sass/signInPage.scss */
div.inputLike input {
  padding: 17px;
  background: transparent;
  border: none;
  text-align: center;
  width: 100%;
  box-sizing: padding-box;
  font-size: 1.4em;
}

/* line 62, ../sass/signInPage.scss */
div.divButton {
  margin-top: 10%;
  text-align: center;
}
/* line 65, ../sass/signInPage.scss */
div.divButton button.signButton {
  background: #5f259f;
  border: 2px solid;
  border-color: #FFFFFF;
  width: 70%;
  margin-right: 1%;
  margin-left: 1%;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  color: #FFFFFF;
  padding: 7px;
}
/* line 77, ../sass/signInPage.scss */
div.divButton button.signButton:hover {
  background-color: #8868B6;
}
